<%- include("partials/header"); -%>
    <h1>Verify Posts</h1>
    <% posts.forEach(post => { %>
    <div class="post">
        <p>Course Code: <%= post.courseCode %></p>
        <p>Exam Date: <%= post.examDate %></p>
        <p>Slot: <%= post.slot %></p>
        <p>Type: <%= post.examType %></p>

        <button class="show-images" data-course="<%= post.courseCode %>" data-date="<%= post.examDate %>" data-slot="<%= post.slot %>" data-examType="<%= post.examType %>">Show Images</button>
    </div>
    <% }); %>
    <a href="/">Back to Home</a>
    <script>
        const showButtons = document.querySelectorAll(".show-images");
        showButtons.forEach(button => {
            button.addEventListener("click", () => {
                const courseCode = button.getAttribute("data-course");
                const examDate = button.getAttribute("data-date");
                const slot = button.getAttribute("data-slot");
                const examType = button.getAttribute("data-examType");
                window.location.href = `/verify/images?courseCode=${courseCode}&date=${examDate}&slot=${slot}&examType=${examType}`;
            });
        });
    </script>
<%- include("partials/footer"); -%>