<%- include("partials/header"); -%>
    <h1>Images for Post</h1>
    <p>Course Code: <%= courseCode %></p>
    <p>Exam Date: <%= examDate %></p>
    <p>Slot: <%= slot %></p>
    <p>Slot: <%= examType %></p>

    <% images.forEach(image => { %>
        <img src="<%= image %>" alt="Image">
    <% }); %>

    <form action="/verify" method="post">
        <input type="hidden" name="courseCode" value="<%= courseCode %>">
        <input type="hidden" name="examDate" value="<%= examDate %>">
        <input type="hidden" name="slot" value="<%= slot %>">
        <input type="hidden" name="examType" value="<%= examType %>">
        <button type="submit" name="action" value="accept">Accept</button>
        <button type="submit" name="action" value="decline">Decline</button>
    </form>

    <a href="/verify">Back to Verification</a>
<%- include("partials/footer"); -%>
